doctype html
html
	head
	body
		h2 Add User
		p Fill out the form
		br
		form(action='/search', method='post')
			p First Name:
			input(type='text', name='firstname')
			br
			p Last Name:
			input(type='text', name='lastname')
			br
			p Email:
			input(type='text', name='lastname')
			br
			br
			input(type='submit', value='Submit User')