doctype html
html
	head
	body
		a(class='button' href='http://localhost:8080') Home
		<br />
		<br />
		a(class='button' href='http://localhost:8080/adduser') Add User
		<br />
		<br />
		h2 Search for User
		p Type in the first or last name of user:
		form(action='/search', method='post')
			p First or Last Name:
			input(type='text', name='name')
			br
			br
			input(type='submit', value='Search')