doctype html
html
	head
	body
		a(class='button' href='/') Home
		<br />
		<br />
		a(class='button' href='/search') Back
		<br />
		a(class='button' href='/adduser') Add User
		<br />
		<br />
		H4 Requested User Information
		br
		p <b>Name:</b> #{userName} #{userLast}
		p <b>Email:</b> #{userEmail}
