doctype html
html
	head
	body
		a(class='button' href='http://localhost:8080') Home
		<br />
		<br />
		a(class='button' href='http://localhost:8080/search') Back
		<br />
		a(class='button' href='http://localhost:8080/adduser') Add User
		<br />
		<br />
		H4 Requested User Information
		br
		p <b>Name:</b> #{userName} #{userLast}
		p <b>Email:</b> #{userEmail}
